*{
	margin: 0;
}
body{
	background-color: 	#F5F5F5;
	font-family: "Geneva";
	font-size: 15px;
	margin-left: 100px;
	margin-right: 100px;
}
p{
	text-indent: 2em;
}
img{
	width: 45%;
	margin-right: 40px;
	margin-bottom: 20px;
}
div.info{
	font-style: italic;
	font-size: "10px";
	color: red;
}
div.title{
	font-family: "Chalkboard";
	font-weight: bolder;
	font-size: 50px;
	color: blue;
}
div.title,.info{
	font-family: "Chalkboard";
	text-align: center;
}
div.content{
	margin-top: 100px;
}
div.partition{
	margin-bottom: 20px;
}
div.subtitle{
	font-family: "Chalkboard";
	font-weight: bolder;
	font-size: 25px;
	margin-bottom: 20px;
}
p.content{
	margin-bottom: 5px;
}
div.content ul{
	margin-left: 2em
}

div.content ul li{
	margin-top: 10px;
}
div.content span,div.content span.terms{
	font-weight: bolder;
	font-style: italic;
}
div.content span.terms{
	font-size: 20px;
	margin-left: 30px;
}
div.content ol{
	list-style-type: none;
	margin-top: 20px;
	margin-left: 40px;
}
.faceul li{
	margin-bottom: 20px;
}
.faceul li span.style1{
	margin-left: 150px;
}
.faceul li span.style2{
	margin-left: 400px;
}
.faceul li span.style3{
	margin-left: 100px;
}
.faceul li span.style4{
	margin-left: 350px;
}
.faceul li img{
	margin-bottom: 0px;
}